<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letter Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Select Letter Type</h1>
    <ul>
        <li><a href="./ack.html">Acknowledgement Letter</a></li>
        <li><a href="./cl.html">Cover Letter</a></li>
        <li><a href="./scope.html">Scope of Work Letter</a></li>
        <li><a href="./toc.html">Terms & Conditions Letter</a></li>
    </ul>
</body>
</html>