<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acknowledgement Letter Form</title>
    <link rel="stylesheet" href="/static/form.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/lenogweb.ico') }}">

</head>
<body>
    <div class="container">
        <h1>Compliance of Scope of Work Letter</h1>
        <form method="POST" action="/scope" class="form">
            <div class="form-group">
                <label for="reference_no">Reference No:</label>
                <input type="text" id="reference_no" name="reference_no" required>
            </div>

            <div class="form-group">
                <label for="contract_title">Contract Title:</label>
                <input type="text" id="contract_title" name="contract_title" required>
            </div>

            <div class="form-group">
                <label for="subject">Subject:</label>
                <input type="text" id="subject" name="subject" required>
            </div>

            <div class="form-group">
                <label for="contact_name">Contact Name:</label>
                <select id="contact_name" name="contact_name" required>
                    <option value="Dwayne Marshall Labangka">Dwayne Marshall Labangka</option>
                    <option value="Cheok Jia Jun">Cheok Jia Jun</option>
                    <option value="Sao Lip Zhou">Sao Lip Zhou</option>
                    <option value="Asmin Mandja">Asmin Mandja</option>
                    <option value="Mohd Suhailin Siman">Mohd Suhailin Siman</option>
                </select>
            </div>

            <div class="form-group">
                <label for="designation">Designation:</label>
                <select id="designation" name="designation" required>
                    <option value="Project Manager">Project Manager</option>
                    <option value="Technical Manager">Technical Manager</option>
                    <option value="Technical Engineer">Technical Engineer</option>
                    <option value="Managing Director">Managing Director</option>
                    <option value="Operation Manager">Operation Manager</option>
                </select>
            </div>

            <button type="submit" class="submit-button">Generate Letter</button>
        </form>
    </div>    
</body>
</html>